---
- name: monitoring ax connectivity
  hosts: ax
  gather_facts: no

  vars:
  - ansible_connection: network_cli
  - ansible_network_os: ax

  tasks:
  - name: ping monitoring
    ping:
